<hr />
If you liked this post, you can
<a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=mrbeetle" 
   target="_blank">
  share it with your followers</a> 
or 
<a href="https://twitter.com/mrbeetle">
  follow me on Twitter</a>!